/* COLORS */
$new-content : rgba(10, 50, 123, 1);
$new-content-dot : rgba(246, 85, 82, 1);

$v-dark-grey-blue: rgba(28, 32, 43, 1);
$dark-grey-blue: rgba(94, 103, 120, 1);
$grey-blue: rgba(147, 156, 173, 1);

$v-light-grey-blue: rgba(221, 231, 238, 1);
$light-grey-blue: rgba(229, 239, 250, 1);

$snow: rgba(247, 250, 253, 1);
$white: rgba(255, 255, 255, 1);

/* TIPOGRAPHY */
$fs-14: 0.875rem;
$fs-16: 1rem;
$fs-20: 1.25rem;
$fs-24: 1.5rem;

$fw-mdm: 500;
$fw-bld: 700;
$fw-extra-bld: 800;